.center{
    margin-top: 50px;
}

.light-blue{

    background-color: lightseagreen;
    margin-left: 200px;
    margin-right: 200px;
}

.image{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    align-items: center;
    

}


.footer-black{
       background-color: black;
       text-decoration-color: aliceblue; 
       width: 1100px;
       height: 300px;

}

