.center{
    margin-top: 30px;
}

.light-blue{

    background-color: rgb(180, 218, 216);
    margin-left: 200px;
    margin-right: 200px;
}

.learn{
    color: orange;
}

.schedule{
    color: rgb(8, 211, 143);
}

.icon-1, .icon-2, .icon-3, .icon-4{

    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 10px;
    text-align: center;  
    border-radius: 10px;
    

}


.third-section{
border: none;

}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; 
}

#small{
    margin-left: 200px;
    padding: 20px;
}




.forth-section{
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer-black{
       background-color: black;
       width: 1100px;
       height: 300px;
       margin-bottom: 100px;


}


.table-1{
    margin-top: 100px;
    color: white;
    
}
.table-2{
    padding: 30px;
    color:white;

}

.footer-bottom{
    margin-left: 400px;
    margin-top: 20px;
    text-align: center;
    color: white;
    

}
